@using DemoDB2.Models
@model List<Category>
<style>
    #div-u {
        padding-top: 50px;
        margin-top: 50px;
        background-color: aquamarine;
        text-decoration: none;
    }

    .div-cate {
        height: 30px;
        width: 100%;
    }

        .div-cate a {
            color: #a9442;
            text-decoration: none;
            font-size: x-large;
        }

            .div-cate a:hover {
                text-decoration: none;
            }
</style>

<ul class="list-style-type:none" id="div-u">
    @{
        foreach (var item in Model)
        {
            <li class="div-cate">
                @Html.ActionLink(item.NameCate, "Index", "Product", new { category = item.IDCate.Trim() }, "")
            </li>
            <hr />
        }
    }
</ul>

